/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.btn-box::before {
    content: "*";
    color: red;
    display: block;
    position: absolute;
    top: -70px;
    left: -10px;
  }